ENVIRONMENT=development
DEBUG=true

# Upstage Solar API 키
# 발급: https://console.upstage.ai/
UPSTAGE_API_KEY=up_tJQa4XXcDIFy4gcPePJPzNXYgNHT6
LLM_MODEL=solar-pro3

# Supabase 설정
SUPABASE_URL=https://avemkpazyalkwlpdcpqa.supabase.co
SUPABASE_KEY=sb_publishable_XsMgrMF-5GpMvKsykRO_EQ_-ffhv7OA